*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none
    transition: inherit

$black: #07080F
$bg_color: #e1e7f6
$yelow: #ffd500
$blue: #2543a0

:root
    --blue: #2543a0
    --yelow: #ffd500
    --white: #fff
    --black: #07080F

body
    min-height: 100vh
    color: #000
    display: flex
    flex-direction: column
    background-color: $bg_color
    font-family: 'Geometria', sans-serif
    padding-bottom: 68px
    &.fixed
        padding-top: 104px

.container
    width: 100%
    max-width: 1440px
    margin: 0 auto
    position: relative
    z-index: 1

img, picture
    width: 100%
    max-width: 100%
    display: block

svg
    width: 12px
    height: 12px

a,
button
    text-decoration: none
    color: inherit
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

input
    font-size: 10px
    padding: 0 14px
    background-color: var(--white)
    &::placeholder
        color: rgba(var(--blue), .5)

.wrap
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &.scroll
        padding: 0 14px
        flex-wrap: nowrap
        justify-content: flex-start
        overflow-x: scroll
        -ms-overflow-style: none
        scrollbar-width: none
        &::-webkit-scrollbar
            display: none

.headline
    color: var(--blue)
    font-weight: bold
    margin: 0 0 6px
    font-size: 13px
    line-height: 110%
    padding: 0 14px
    svg
        display: inline-block
        width: 8px
        height: 10px
        vertical-align: middle
        stroke: var(--blue) !important

.banner
    padding: 6px 0 20px

ol
    padding: 0 0 0 25px
    font-weight: 400
    font-size: 20px
    line-height: 140%

p
    font-weight: 400
    font-size: 10px
    line-height: 110%

ul
    list-style: none
    li
        font-weight: 400
        font-size: 20px
        line-height: 140%
        padding-left: 20px
        margin: 0
        position: relative
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 9px
            left: 5px
            width: 7px
            height: 7px
            border-radius: 50%
            background-color: #fff

hr
    background-color: rgba(255, 255, 255, .3)
    height: 1px
    margin: 20px 0 20px

.split
    display: none

@media (prefers-color-scheme: dark)
    body
        color: #fff
        background-color: #2e3034 !important

    :root
        --blue: #fff
        --white: #07080F
        --black: #fff

    .logo 
        img 
            filter: grayscale(1) brightness(10)

@media screen and ( min-width: 1100px )
    body
        background-color: var(--white)
        color: var(--black)

    .container
        padding: 0 15px

    input 
        font-size: 14px
        height: 44px
    
