@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'btns'
@import 'slick'
@import 'navbar'
@import 'header'
@import 'footer'

.catalog
    padding: 0
    .wrap
        padding: 0 0 14px 14px
        align-items: flex-start

    &-item
        min-width: 76px
        width: 76px
        margin: 0 14px 0 0

    &__text
        color: var(--blue)
        font-weight: bold
        font-size: 10px
        text-align: center
        display: block

    &-img
        width: 100%
        height: 72px
        display: flex
        align-items: center
        justify-content: center
        background-color: var(--white)
        border-radius: 6px
        margin-bottom: 7px
        box-shadow: 0px 9px 6px 0px rgba(0, 6, 129, 0.06)

        img, picture
            max-width: 50%
            max-height: 50%
            object-fit: contain
            display: block
        picture
            img
                max-width: 100%
                max-height: 38px

    &-banner
        min-width: 167px
        width: 167px
        margin: 0 14px 0 0
        height: 76px
        border-radius: 8px
        overflow: hidden
        position: relative
        z-index: 1
        color: #fff
        padding: 14px 14px 10px
        &__img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            z-index: -1
            object-fit: cover
            pointer-events: none

        &__heading
            font-size: 11px
            max-width: 65%
            font-weight: bold
            margin: 0 0 5px

        &__text
            max-width: 65%
            font-size: 8px

    &-items

    &-row
        display: none

.item
    display: inline-block
    min-width: 167px
    width: 167px
    margin: 0 14px 0 0
    padding: 0 0 8px 0
    border-radius: 6px
    background-color: var(--white)
    overflow: hidden
    box-shadow: 0px 9px 6px 0px rgba(0, 6, 129, 0.06)
    position: relative
    z-index: 1

    &-tag
        padding: 2px 5px
        background-color: $blue
        position: absolute
        top: 8px
        left: 8px
        z-index: 1
        color: #fff
        border-radius: 10px
        font-size: 8px
        line-height: 100%
        &.red
            background-color: red

    .btn
        &-save
            width: 28px
            height: 36px
            position: absolute
            top: 114px
            right: 0
            z-index: 1000
            padding: 6px

    &__link
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: block
        z-index: 1

    &-img
        height: 114px
        border-radius: 6px
        overflow: hidden
        margin-bottom: 6px
        img
            height: 100%
            object-fit: cover

    &-seler
        display: none

    &__heading,
    &__price
        max-width: calc( 100% - 26px )
        padding: 0 2px 0 6px
        font-size: 10px
        line-height: 110%
        margin: 0 0 4px

    &__price
        font-weight: bold
        margin-bottom: 7px
        &::after
            content: ' сом.'

    &__location,
    &__date
        font-size: 8px
        margin: 0
        padding: 0 6px 2px

    iframe
        width: 100% !important
        height: 100% !important

.main
    &-slider
        display: none

.path
    width: 100%
    padding: 13px 0
    &__link
        display: none
        color: transparent
        font-size: 0px
        &:nth-last-of-type(2)
            display: inline-block
            padding: 4px 0 0 12px
            background-repeat: no-repeat
            background-position: left center
            background-image: url('../img/icons/arrow__left.svg')
            background-size: 6px auto
            &::after
                content: 'Назад'
                font-size: 13px
                display: inline-block
                line-height: 130%
                color: var(--blue)

        @media (prefers-color-scheme: dark)
            filter: brightness(10)

.card
    font-size: 13px
    .path
        order: 2

    &-nav
        display: none

    &-img
        order: 1
        width: 100vw
        max-width: unset
        position: relative
        left: -15px

    &-slider
        overflow: hidden
        height: 100vw
        width: 100%

    &-slide
        height: 100vw
        iframe
            width: 100% !important
            height: 100% !important

        img
            width: 100%
            height: 100%
            object-fit: cover

    &-info
        display: flex
        flex-direction: column
        order: 4
        width: 100%
        .wrap
            order: 5
            justify-content: space-between
        .btn
            width: 48%
            margin-bottom: 15px

    &-descr
        width: 100%
        order: 5

        p
            font-size: 13px
            line-height: 145%

        .btn-denger
            margin: 14px 0

        .dropdown
            border:
                top: 1px solid rgba(0, 0, 0, .05)
                bottom: 1px solid rgba(0, 0, 0, .05)
            &-btn
                &::after
                    float: right
                    padding-right: 10px
                    font-size: 9px
                    content: "\e90e"
                    font-family: "arzon_fonts" !important
                &.active::after
                    content: '\e908'

            &-content
                display: none
                padding: 5px 0
                border-bottom: 1px solid rgba(0, 0, 0, .05)

    .btn
        &-share,
        &-save
            position: absolute
            top: 100vw
            width: 42px
            right: 0
            height: 51px
            z-index: 100
            text-align: center
            color: var(--blue)
            font-size: 15px

        &-share
            right: 38px
            &::before
                margin: 0

    &__headline
        font-size: 23px
        font-weight: normal
        line-height: 120%
        order: 3
        margin: 0 0 4px

    &__subheading
        font-size: 14px
        line-height: 120%
        font-weight: bold
        padding: 10px 0
        color: var(--blue)

    &-list
        li
            padding: 8px 0
            font: inherit
            font-weight: 500
            border-bottom: 1px solid rgba(0, 0, 0, .05)
            &:last-of-type
                border: none
            &::before
                display: none

            .right
                min-width: 40%
                float: right
                display: inline-block
                font-weight: normal

    &-price
        font-size: 24px
        font-weight: bold
        margin: 0 0 15px

    &-user
        order: 4
        font-size: 13px
        margin: 0 0 15px
        &__name
            font-weight: bold

    &__reviews
        color: var(--blue)
        &::before
            content: "("
        &::after
            content: ")"

    &__status
        font-size: 13px
        line-height: 110%
        margin: 10px 0 0
        display: inline-block
        padding: 2px 9px
        border-radius: 6px
        border: 1px solid #b0b2b9

    &__location
        order: 6
        padding: 2px 0 2px 18px
        position: relative
        font-size: 13px
        margin-bottom: 12px
        .i
            font-size: 12px
            position: absolute
            left: 0
            top: 4px

        a
            color: #2544a1

    &__min
        order: 7
        margin-bottom: 20px

@media screen and ( min-width: 1100px )
    .catalog
        &-banners,
        &-banner
            display: none
        .wrap
            // max-width: 1440px
            margin: 0 auto

        &-item
            width: 160px
            min-width: 160px
            margin: 0 24px 24px 0

        &-img
            background-color: #f1f1f1
            box-shadow: none
            border-radius: 12px
            height: 160px
            margin-bottom: 12px
            overflow: hidden
            img, picture, picture img
                width: 100%
                height: 100%
                max-width: 100%
                max-height: 100%
                object-fit: cover

        &__text
            font-size: 14px
            font-weight: 500
            color: var(--black)

        &-items
            max-width: unset !important
            padding: 0 0 0 0 !important
            .slick
                &-arrow
                    top: 90px
                &-list
                    padding-left: calc((100% - 1440px)/2) !important

            @media screen and ( max-width: 1440px )
                .slick
                    &-arrow
                        top: 90px
                    &-list
                        padding-left: 15px !important

        &-row
            display: flex
            justify-content: flex-start
            align-items: flex-start
            padding: 0 14px 14px !important
            .item
                width: 24%
                margin-right: calc( 4% / 3 )
                &:nth-child(4n+4)
                    margin-right: 0

    .item
        width: 340px
        min-width: 257px
        max-width: 24%
        box-shadow: none
        margin: 0 24px 24px 0
        background-color: transparent
        padding-bottom: 0
        &-tag
            font-size: 12px
            padding: 4px 9px

        &-img
            width: 100%
            aspect-ratio: 3/2
            height: unset
            margin-bottom: 14px
            border-radius: 12px

        &-seler
            display: block
            font-size: 16px
            line-height: 100%
            padding: 12px 0

        &-fav
            top: 67%
            &::before
                right: 0

        &__heading
            font-size: 18px
            color: var(--blue)
            padding: 0
        &__price
            font-size: 18px
            padding: 0

        &__location
            &::after
                content: '|'
        &__location,
        &__date
            font-size: 16px
            display: inline-block
            vertical-align: middle
            padding: 0
            opacity: .6

    .banner_row,
    .mob_row
        display: none

    .main
        &-slider
            overflow: hidden
            display: flex
            padding: 0
            margin-bottom: 24px

        &-slide
            margin: 0 24px 0 0
            width: 1440px
            max-width: 96vw
            aspect-ratio: 16/3.4
            max-height: 300px
            border-radius: 12px
            overflow: hidden
            img
                object-fit: cover
                width: 100%
                height: 100%
                object-position: center center

    .path
        &__link
            color: var(--black)
            opacity: .5
            display: inline-block
            padding: 20px 0 !important
            font-size: 16px
            background-image: none !important
            &::before
                content: '*'
                display: inline-block
                padding: 0 6px 0 3px

            &::after
                display: none !important

            &:first-child::before
                display: none

            &:last-of-type
                pointer-events: none

    .card
        .container
            justify-content: flex-start
            align-items: stretch

        .path
            order: 1

        &-img
            width: 60%
            max-width: 710px
            height: 450px
            order: 2
            left: 0
            margin-bottom: 40px
            overflow: hidden

        &__headline
            font-weight: bold
            font-size: 36px
            width: 100%
            order: 1
            margin-bottom: 24px

        &-slider
            height: unset
            width: calc( 100% - 140px )

        &-slide
            width: 100%
            height: 450px
            background-color: #eee
            border-radius: 16px
            overflow: hidden
            img
                object-fit: contain

        &-nav
            display: block
            width: 120px
            padding: 0
            position: relative
            // height: 480px
            overflow: hidden
            &-slide
                opacity: .3
                border-radius: 10px
                overflow: hidden
                width: 100%
                height: 100px !important
                background-color: #eee
                border-radius: 20px
                cursor: pointer
                margin-bottom: 10px
                iframe
                    width: 100% !important
                    height: 100% !important

                img
                    width: 100%
                    height: 100%
                    object-fit: cover

            .slick
                &-current
                    opacity: 1

        &-info
            width: 35%
            position: relative
            padding-bottom: 40px
            z-index: 1
            order: 3
            max-width: 320px
            margin-left: 40px
            margin-bottom: 40px
            .wrap
                display: block
                max-width: 300px

            .btn
                min-width: 210px
                margin-bottom: 8px

        &-descr
            order: 4
            width: 100%
            max-width: 710px
            border: none
            p
                font-size: 16px
                line-height: 160%

            .dropdown
                margin-bottom: 24px
                border-top: none
                &-content
                    padding-bottom: 24px
                    display: block !important

                &-btn::after
                    display: none

        .btn
            &-share,
            &-save
                height: unset
                width: unset
                max-width: 60%
                position: static
                font-weight: normal
                color: var(--blue)
                text-align: left
                color: #b0b2b9
                margin-bottom: 4px
                .i
                    margin-right: 4px
                    display: inline-block
                    vertical-align: middle
            &-save
                margin-bottom: 20px
                &::before
                    color: #b0b2b9
                    display: inline-block
                    vertical-align: middle
                    margin-right: 8px

        &__location
            font-size: 16px

        &__min
            position: absolute
            bottom: 0
            left: 0
            color: #9b9fa3
            font-size: 14px
            line-height: 130%
            p
                line-height: 130%
                font-size: 14px

        &__subheading
            padding: 0
            margin-bottom: 26px
            font-size: 24px
            line-height: 130%
            color: var(--black)

        &-list
            width: 100%
            display: flex
            flex-wrap: wrap
            li
                width: 48%
                border: none
                font-size: 14px
                line-height: 130%
                padding: 0
                margin-bottom: 20px
                font-weight: bold
