@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'btns'
@import 'slick'
@import 'navbar'
@import 'header'
@import 'footer'

.catalog
    padding: 0
    .wrap
        padding: 0 0 14px 14px
        align-items: flex-start

    &-item
        min-width: 76px
        width: 76px
        margin: 0 14px 0 0

    &__text
        color: var(--blue)
        font-weight: bold
        font-size: 10px
        text-align: center
        display: block

    &-img
        width: 100%
        height: 72px
        display: flex
        align-items: center
        justify-content: center
        background-color: var(--white)
        border-radius: 6px
        margin-bottom: 7px
        box-shadow: 0px 9px 6px 0px rgba(0, 6, 129, 0.06)

        img, picture
            max-width: 50%
            max-height: 50%
            object-fit: contain
            display: block
        picture
            img
                max-width: 100%
                max-height: 38px

    &-banner
        min-width: 167px
        width: 167px
        margin: 0 14px 0 0
        height: 76px
        border-radius: 8px
        overflow: hidden
        position: relative
        z-index: 1
        color: #fff
        padding: 14px 14px 10px
        &__img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            z-index: -1
            object-fit: cover
            pointer-events: none

        &__heading
            font-size: 11px
            max-width: 65%
            font-weight: bold
            margin: 0 0 5px

        &__text
            max-width: 65%
            font-size: 8px

    &-items

    &-row
        display: none

.item
    display: inline-block
    min-width: 167px
    width: 167px
    margin: 0 14px 14px 0
    padding: 0 0 8px 0
    border-radius: 6px
    background-color: var(--white)
    overflow: hidden
    box-shadow: 0px 9px 6px 0px rgba(0, 6, 129, 0.06)
    position: relative
    z-index: 1

    &-tag
        padding: 2px 5px
        background-color: $blue
        position: absolute
        top: 8px
        left: 8px
        z-index: 1
        color: #fff
        border-radius: 10px
        font-size: 8px
        line-height: 100%
        &.red
            background-color: red

    &-fav
        width: 28px
        height: 36px
        position: absolute
        top: 114px
        right: 0
        z-index: 1000
        padding: 6px
        &::before
            content: ''
            display: block
            width: 16px
            height: 16px
            background-image: url('../img/hearts.svg')
            background-repeat: no-repeat
            background-size: auto 100%
            background-position: center left
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: .5

        &.active::before
            opacity: 1
            background-position: center right

    &__link
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: block
        z-index: 1

    &-img
        height: 114px
        border-radius: 6px
        overflow: hidden
        margin-bottom: 6px
        img
            height: 100%
            object-fit: cover

    &-seler
        display: none

    &__heading,
    &__price
        max-width: calc( 100% - 26px )
        padding: 0 2px 0 6px
        font-size: 10px
        line-height: 110%
        margin: 0 0 4px

    &__price
        font-weight: bold
        margin-bottom: 7px
        &::after
            content: ' сом.'

    &__location,
    &__date
        font-size: 8px
        margin: 0
        padding: 0 6px 2px

.main
    &-slider
        display: none

.path
    width: 100%
    padding: 13px 0
    &__link
        display: none
        color: transparent
        font-size: 0px
        &:nth-last-of-type(2)
            display: inline-block
            padding: 4px 0 0 12px
            background-repeat: no-repeat
            background-position: left center
            background-image: url('../img/icons/arrow__left.svg')
            background-size: 6px auto
            &::after
                content: 'Назад'
                font-size: 13px
                display: inline-block
                line-height: 130%
                color: var(--blue)

.card
    font-size: 13px
    line-height: 120%
    .path
        order: 2

    &-nav
        display: none

    &-img
        order: 1
        width: calc( 100% + 30px )
        max-width: unset
        position: relative
        left: -15px

    &-slider
        width: 100%

    &-slide
        height: 100vw
        iframe
            width: 100% !important
            height: 100% !important

        img
            width: 100%
            height: 100%
            object-fit: cover

    &-info
        order: 4

    &-descr
        order: 5

    .btn
        &-share,
        &-fav
            position: absolute
            top: 100vw
            width: 38px
            right: 0
            height: 51px
            z-index: 100
            svg
                width: 18px
                height: 18px
        &-share
            right: 38px

    &__headline
        font-size: 24px
        font-weight: normal
        line-height: 130%
        order: 3
        margin: 0 0 6px

    &__subheading
        font: inherit
        line-height: 120%
        font-weight: bold
        padding: 10px 0
        color: var(--blue)
        border:
            top: 1px solid rgba(0, 0, 0, .1)
            bottom: 1px solid rgba(0, 0, 0, .1)

    &-list
        li
            display: flex
            justify-content: space-between
            padding: 0
            font: inherit
            font-weight: 500
            &::before
                display: none

            .right
                font-weight: normal

    &-price
        font-size: 24px
        font-weight: bold
        margin: 0 0 15px

@media screen and ( min-width: 1100px )
    .catalog
        &-banners,
        &-banner
            display: none
        .wrap
            max-width: 1440px
            margin: 0 auto

        &-item
            width: 160px
            min-width: 160px
            margin: 0 24px 24px 0

        &-img
            background-color: #f1f1f1
            box-shadow: none
            border-radius: 12px
            height: 160px
            margin-bottom: 12px
            overflow: hidden
            img, picture, picture img
                width: 100%
                height: 100%
                max-width: 100%
                max-height: 100%
                object-fit: cover

        &__text
            font-size: 14px
            font-weight: 500
            color: var(--black)

        &-items
            max-width: unset !important
            padding: 0 0 0 0 !important
            .slick
                &-arrow
                    top: 90px
                &-list
                    padding-left: calc((100% - 1440px)/2) !important

            @media screen and ( max-width: 1440px )
                .slick
                    &-arrow
                        top: 90px
                    &-list
                        padding-left: 15px !important

        &-row
            display: flex
            justify-content: flex-start
            align-items: flex-start
            padding: 0 14px 14px !important
            .item
                margin: 0 1% 1.5% 0
                &:nth-child(4n+4)
                    margin-right: 0

    .item
        width: 340px
        min-width: 259px
        max-width: 24.2%
        box-shadow: none
        margin: 0 24px 24px 0
        background-color: transparent
        overflow: visible
        &-tag
            font-size: 12px
            padding: 4px 9px

        &-img
            width: 100%
            aspect-ratio: 3/2
            height: unset
            margin-bottom: 14px
            border-radius: 12px

        &-seler
            display: block
            font-size: 16px
            line-height: 100%
            padding: 12px 0
            &__rate
                padding: 0 0 0 22px
                color: #b0b2b9
                background-image: url('../img/rate.svg')
                background-repeat: no-repeat
                background-position: center left
                background-size: 14px 14px
                margin-left: 8px

        &-fav
            top: 67%
            &::before
                right: 0

        &__heading
            font-size: 18px
            color: var(--blue)
            padding: 0
        &__price
            font-size: 18px
            padding: 0

        &__location
            &::after
                content: '|'
        &__location,
        &__date
            font-size: 16px
            display: inline-block
            vertical-align: middle
            padding: 0
            opacity: .6

    .banner_row,
    .mob_row
        display: none

    .main
        &-slider
            overflow: hidden
            display: flex
            padding: 0
            margin-bottom: 24px

        &-slide
            margin: 0 24px 0 0
            width: 1440px
            max-width: 96vw
            aspect-ratio: 16/3.4
            max-height: 300px
            border-radius: 12px
            overflow: hidden
            img
                object-fit: cover
                width: 100%
                height: 100%
                object-position: center center

    .path
        &__link
            color: var(--black)
            opacity: .5
            display: inline-block
            padding: 20px 0
            font-size: 16px
            &::before
                content: '*'
                display: inline-block
                padding: 0 6px 0 3px

            &::after
                display: none

            &:first-child::before
                display: none

            &:last-of-type
                pointer-events: none

    .card
        .container
            align-items: flex-start

        &-img
            width: 60%
            order: 2

        &__headline
            width: 100%
            order: 1

        &-slider
            width: calc( 100% - 140px )

        &-slide
            width: 100%
            height: 450px
            background-color: #eee
            border-radius: 16px
            overflow: hidden
            img
                object-fit: contain

        &-nav
            display: block
            width: 120px
            padding: 0
            position: relative
            // height: 480px
            overflow: hidden
            &-slide
                opacity: .3
                border-radius: 10px
                overflow: hidden
                width: 100%
                height: 100px !important
                background-color: #eee
                border-radius: 20px
                cursor: pointer
                margin-bottom: 10px
                iframe
                    width: 100% !important
                    height: 100% !important

                img
                    width: 100%
                    height: 100%
                    object-fit: cover

            .slick
                &-current
                    opacity: 1

        &-info
            width: 35%
            order: 3

        &-descr
            order: 4
            width: 100%
